@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, #6CD2F9 -30.08%, #eea13c 100%);
    font-weight: 400;
    font-size: 16px;
    font-family: system-ui;
    height: 100vh;
    position: relative;
}
.container {
    width: 450px;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    font-size: 36px;
    color: #000000;
    margin: 30px 0 45px;
    
}
.row{
    padding: 0 40px;
    position: relative;
}
input {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 7px 33px -4px rgba(41, 41, 41, 0.14);
    border: none;
    outline: none;
    padding: 20px 25px;
}
.row input::placeholder {
    font-size: 16px;
    color: #636363;
    font-family: Montserrat;
}
input.icon{
    font-size: 35px;
    color: white;
    background: #5CB85C;
    width: auto;
    padding: 0px 12px;
    position: relative;
    right: -42%;
    top: -50px;
    border: 1px solid transparent;
    transition: all .3s ease;
    cursor: pointer;
}
.icon:hover{
    color: #5CB85C;
    background-color: white;
    border-color: #5CB85C;
}
h4{
    font-size: 24px;
    color: #474747;
    margin: 20px 0 40px;
}
.row ul.task_list{
    list-style: none;
    text-align: left;
}
.row ul.task_list li{
    background: #FFFFFF;
    box-shadow: 0px 7px 33px -4px rgba(0, 0, 0, 0.14);
    padding: 20px 25px;
    margin-bottom: 17px;
    font-size: 16px;
    color: #000000;
    position: relative;
}
.row ul.task_list li span{
    position: absolute;
    font-size: 22px;
    right: 9px;
    top: 6px;
    padding: 9px 16px;
    box-shadow: 0px 0px 23px -5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: all .3s ease;
}
.row ul.task_list li span:hover{
    color: white;
    background: red;
}

.container .clearAll{
    display:center;
    width:100%;
    margin-top: 20px; 
}

.clearAll button{
    border:none;
    outline:none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    color:#FFFFFF;
    font-size:16px;
    background:slateblue;
}

.clearAll button:hover{
    background-color: #ff0b0b;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}







